.header{
    margin-top: 60px;
}

.headerTitlesLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
    margin-left: 40pc;
    margin-top: 10pc;

}
.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}